html {
    background-color: white;
}

body {
    font-family: sans-serif;
    color: #3F2860;
    background-color: #EFF4F7;
    font-size: 16px;
    line-height: 1.5;
}

header {
    color: #000000;
    background-color: #bab0a0;
    text-align: center;
    height: 100px;
}

header > h1 {
    padding-top: 16px;
    line-height: 200%;
}

nav {
    text-align: center;
    padding: 8px;
    height: 100px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 25px;
}

nav ul li a{
    text-decoration: none;
    padding: 5px;
}